// Board style

.TitleWrapper {
  color: @grayDark;
  font-weight: bold;
  border-bottom: 1px solid @grayLighter;
  padding-bottom: @baseFontSize / 2;
  text-align: left;
  #font .shorthand(@baseFontSize + 5, normal, (@baseFontSize + 5) * 1.5);
}
#FavoriteAddWrapper {
  text-align: right;
  float: none;
}
#ViewFavoriteAddForm {
  img {
    display: none;
  }
  margin-right: 5px;
  .menu_iconize(5, 0);
}
#ArticleHead {
  border: 0;
}
#ArticleTitle {
  letter-spacing: -1px;
  #font .shorthand(@baseFontSize + 8, bold, (@baseFontSize + 8) * 1.5);
}
#ArticleNumber {
  color: @grayLight;
  font-weight: normal;
  font-size: @baseFontSize - 2;
}
#ArticleMeta, #ArticleMeta a {
  color: @gray;
}
#ArticleContent {
  clear: both;
  margin-left: @gridGutterWidth;
}

#BoardList {
  width: 100%;
  margin: @baseLineHeight 0px;
  border: 1px solid #ddd;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  .border-radius(4px);
  color: @grayDark;

  a {
    color: @grayDark;
  }
  
  // Cells
  th,
  td {
    padding: 8px;
    // padding: 4px 5px;
    line-height: @baseLineHeight;
    text-align: left;
    border-top: 1px solid #ddd;
    height: auto;
  }
  th {
    font-weight: bold;
    vertical-align: bottom;
  }
  td {
    vertical-align: top;
  }
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
  }
  thead:first-child {
    background: transparent !important;
  }
  // Remove top border from thead by default
  thead:first-child tr th,
  thead:first-child tr td {
    border-top: 0;
  }
  th + th,
  td + td,
  th + td,
  td + th {
    border-left: 1px solid #ddd;
  }
  // Prevent a double border
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th or td in the first row in the first thead or tbody
  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    .border-radius(4px 0 0 0);
  }
  thead:first-child tr:first-child th:last-child,
  tbody:first-child tr:first-child td:last-child {
    .border-radius(0 4px 0 0);
  }
  // For first th or td in the first row in the first thead or tbody
  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    .border-radius(0 0 0 4px);
  }
  thead:last-child tr:last-child th:last-child,
  tbody:last-child tr:last-child td:last-child {
    .border-radius(0 0 4px 0);
  }
  .ListNumber, .ListWriter, .ListDate, .ListView, .ListRecommend {
    text-align: center;
  }
}

.TagList {
  margin-top: 20px;
  li:first-child {
    .labelize(@orange);
    padding: 1px 3px 2px 3px;
    &::after {
      content: 'Tag';
    }
    img {
      display: none;
    }
  }
  li:last-child {
    .labelize(@infoText);
    padding: 1px 3px 2px 3px;
    a {
      padding-right: 1px;
      &::after {
        content: '태그추가';
      }
    }
    img {
      display: none;
    }
  }
  li {
    .labelize(lighten(@gray, 15%));
    padding: 1px 2px 2px 5px;
    a {
      font-size: @baseFontSize * .75;
      line-height: @baseFontSize;
      color: @white;
    }
    .RemoveTag {
      font-size: 13px;
      font-weight: normal;
      line-height: @baseFontSize;
      color: @white;
      padding-right: 1px;
      //text-shadow: 0 1px 0 rgba(255,255,255,1);
      .opacity(70);
      &::after {
        content: 'x';
        cursor: pointer;
      }
      &:hover {
        color: @white;
        text-decoration: none;
        .opacity(90);
        cursor: pointer;
      }
      img {
        display: none;
      }
    }
  }
}
#ArticleFooter {
  height: 40px;
  .wellize();
  #ArticleFooterImage {
    display: none;
  }
  #ArticleFooterTab {
    margin-top: 11px;
  }
  #ArticleFunction {
    position: static;
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    color: rgba(255,255,255,0);
    a {
      .buttonize();
    }
  }
}

ul.Comment {
  margin: 0px;
  li {
    padding: 5px;
    border: 1px solid darken(@grayLighter, 5%) !important;
    margin: 5px 0px;
    .CommentHeader {
      float: none;
      width: auto;
      border-bottom: 1px solid #EAEAE6;
      padding-bottom: 3px;
      display: block;
      margin: 0px 5px;
      .Date {
        font-size: 10px;
        color: darken(@grayLight, 10%);
      }
    }
    .CommentContent {
      margin-top: 8px;
      margin-bottom: 5px;
    }
  }
  &> li {
    .border-radius(4px);
    .CommentReply {
      display: inline-block;
      .menu_iconize(5, 3);
      img {
        display: none;
      }
    }
    &.RecommendedComment {
      background: fade(@blue, 10%) !important;
      border: 1px solid fade(darken(@blue, 10%), 20%) !important;
      &> .CommentHeader {
        border-bottom: 1px solid fade(darken(@blue, 10%), 20%);
      }
      &> div {
        background: transparent !important;
      }
    }
  }
  .CommentReplys {
    margin: 10px;
    li {
      margin: 0px;
      margin-bottom: -1px;
      background: lighten(@grayLighter, 5%);
      .CommentHeader {
        padding: 0px;
        background: none;
      }
      &:first-child {
        .border-radius(4px 4px 0 0);
      }
      &:last-child {
        .border-radius(0 0 4px 4px);
      }
      &.RecommendedComment {
        background: fade(@blue, 6%) !important;
        border: 1px solid fade(darken(@blue, 10%), 20%) !important;
        &> .CommentHeader {
          border-bottom: 1px solid fade(darken(@blue, 10%), 20%);
        }
        &> div {
          background: transparent !important;
        }
      }
    }
  }
}
.CommentRecommendation {
  margin-right: 10px;
}
#CommentRecommendList {
  background: transparent;
  margin: 5px 0px;
  padding: 0px;
  border: none;
  ul {
    margin: 0px;
  }
  li {
    background: fade(@blue, 20%);
    padding: 5px;
    border: 1px solid fade(darken(@blue, 10%), 20%) !important;
    margin: 5px 0px;
    .border-radius(4px);
    .CommentHeader {
      padding: 0px;
      background: none;
      float: none;
      width: auto;
      border-bottom: 1px solid fade(darken(@blue, 10%), 20%);
      padding-bottom: 3px;
      display: block;
      margin: 0px 5px;
      .User {
        &::before {
          .labelize(@orange);
          content: '베플';
          margin-right: 5px;
        }
      }
    }
  }
}
#CommentWriteWrapper {
  .wellize();
  margin-bottom: 10px;
  .RefreshComment {
    float: none;
    display: inline-block;
    a {
      padding-left: 1px;
      .buttonize();
      .menu_iconize(10, 1);
      &::after {
        content: 'Refresh';
      }
      img {
        display: none;
      }
    }
  }
  .CommentAddForm {
    display: inline-block;
    .TextBox {
      background-color: @white;
      margin-bottom: 0px;
      width: 280px;
    }
  }
}
#ArticleController {
  padding: 0px 10px;
  background: transparent;
  color: fade(@white, 0%);
  a {
    .buttonize();
  }
}
#BoardListButtonWrapper {
  a {
    .buttonize();
  }
}
