article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover, a:active {
  outline: 0;
  text-decoration: none;
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button, input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 13px;
  line-height: 18px;
  font-family: '나눔고딕', '맑은 고딕', '돋움', dotum, Helvetica, sans-serif;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.buttonize {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.buttonize:first-child {
  *margin-left: 0;
}
.buttonize:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.buttonize:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.buttonize.active, .buttonize:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
.buttonize.disabled, .buttonize[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.buttonize.large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.buttonize.large .icon {
  margin-top: 1px;
}
.buttonize.small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.buttonize.small .icon {
  margin-top: -1px;
}
p {
  margin: 0 0 9px;
  font-family: '나눔고딕', '맑은 고딕', '돋움', dotum, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
p small {
  font-size: 11px;
  color: #999999;
}
.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}
.page-header h1 {
  line-height: 1;
}
ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
li {
  line-height: 18px;
}
ul.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 18px;
}
dt, dd {
  line-height: 18px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 9px;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: #999999;
}
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}
blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
body {
  padding-top: 60px;
}
#Wrapper {
  width: auto;
  padding-left: 2.127659574%;
  padding-right: 2.127659574%;
  *zoom: 1;
  min-width: 800px;
}
#Wrapper:before, #Wrapper:after {
  display: table;
  content: "";
}
#Wrapper:after {
  clear: both;
}
#WidgetWrapper {
  margin-top: 35px;
}
.WidgetColumn {
  width: 31.914893614% !important;
  float: left;
  margin-left: 2.127659574%;
}
.WidgetColumn:first-child {
  margin-left: 0;
}
#CommonLeftMenu {
  padding: 0;
  margin: 0;
  width: 14.89361702% !important;
  float: left;
  margin-left: 2.127659574%;
}
#CommonContent {
  padding: 0;
  margin: 0;
  width: 82.97872339599999% !important;
  float: left;
  margin-left: 2.127659574%;
}
#ArticleWrapper {
  width: auto;
}
.Button {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.Button:first-child {
  *margin-left: 0;
}
.Button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.Button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.Button.active, .Button:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
.Button.disabled, .Button[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.Button.large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.Button.large .icon {
  margin-top: 1px;
}
.Button.small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.Button.small .icon {
  margin-top: -1px;
}
.TextBox {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.TextBox:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-8 */

}
#AttachedSurvey,
#SetFrontPage,
#SetFrontPageArticle,
#SetMyTheme,
#CalendarDate {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#CommonHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  z-index: 1030;
  border-bottom-width: 0px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#CommonHeader ul {
  margin: 0px;
  padding: 0px;
}
#CommonHeader a {
  font-size: 12px;
  color: #eeeeee;
  line-height: 40px;
}
#CommonLogo {
  margin: 0px;
  margin-left: 20px;
}
#CommonLogo a {
  top: 2px;
  position: absolute;
}
#CommonLogo a img {
  display: none;
}
#CommonLogo a:after {
  content: 'SNUCSE';
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}
#CommonMenu {
  background: none;
  position: absolute;
  left: 130px;
}
#CommonMenu li a {
  padding: 6px;
}
#CommonMenu li.CommonMenuActive {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  -webkit-box-shadow: inset 0px 4px 0px #049cdb;
  -moz-box-shadow: inset 0px 4px 0px #049cdb;
  box-shadow: inset 0px 4px 0px #049cdb;
}
#CommonMenu li.CommonMenuActive a {
  font-weight: bold;
  color: #ffffff;
}
#SearchBoxWrapper {
  background: none;
  height: auto;
  margin-top: 4px;
}
#SearchBoxWrapper input.Keyword {
  color: #eeeeee;
  padding: 4px 10px;
  border: 1px solid #111;
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background: #555555;
}
#SearchBoxWrapper input.Keyword:focus {
  background: #ffffff;
  color: #333333;
}
#SearchBoxSubmitWrapper {
  width: 1px;
  height: 23px;
  vertical-align: middle;
}
#Logout {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/icons.png');
  background-position: -168px 0px;
  background-color: transparent;
  text-indent: -9999px;
  margin: 11px 5px;
  padding: 0px;
  border: 0px;
  margin-right: 10px;
}
#CommonUser > ul > li:nth-child(1) a {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/icons.png');
  background-position: -140px 0px;
  background-color: transparent;
  text-indent: -9999px;
  margin: 11px 5px;
  padding: 0px;
  border: 0px;
}
#CommonUser > ul > li:nth-child(2) a {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/icons.png');
  background-position: -28px 0px;
  background-color: transparent;
  text-indent: -9999px;
  margin: 11px 5px;
  padding: 0px;
  border: 0px;
}
#CommonUser > ul > li:nth-child(3) a {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/icons.png');
  background-position: -56px 0px;
  background-color: transparent;
  text-indent: -9999px;
  margin: 11px 5px;
  padding: 0px;
  border: 0px;
}
#CommonUser > ul > li:nth-child(4) a {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/icons.png');
  background-position: 0px 0px;
  background-color: transparent;
  text-indent: -9999px;
  margin: 11px 5px;
  padding: 0px;
  border: 0px;
}
#CommonUser > ul > li:nth-child(5) a {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/icons.png');
  background-position: -84px 0px;
  background-color: transparent;
  text-indent: -9999px;
  margin: 11px 5px;
  padding: 0px;
  border: 0px;
}
#FavoriteNavigation {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/icons.png');
  background-position: -112px 0px;
  background-color: transparent;
  text-indent: -9999px;
  margin: 11px 5px;
  padding: 0px;
  border: 0px;
}
#FavoriteNavigation ul {
  text-indent: initial;
}
#TabWrapper {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0px;
  padding: 0px 20px;
  z-index: 1030;
  border-bottom: 1px solid #d5d5d5;
  width: auto;
  height: auto;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: linear-gradient(top, #f5f5f5, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 5px rgba(0, 0, 0, 0.1);
}
#TabWrapper ul {
  margin: 0;
}
#TabWrapper li {
  height: auto;
  padding: 0px;
}
#TabWrapper #CurrentTab a {
  background: #E9E9E9;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  color: #999999;
  border-left: 0;
}
#TabWrapper li a {
  display: inline-block;
  padding: 0 20px;
  font-size: 12px;
  color: #555555;
  line-height: 35px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #f5f5f5;
}
.TitleWrapper {
  color: #333333;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 6.5px;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
}
#FavoriteAddWrapper {
  text-align: right;
  float: none;
}
#ViewFavoriteAddForm {
  margin-right: 5px;
}
#ViewFavoriteAddForm img {
  display: none;
}
#ViewFavoriteAddForm::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -120px 0px;
  vertical-align: -20%;
  margin-right: 5px;
}
#ArticleHead {
  border: 0;
}
#ArticleTitle {
  letter-spacing: -1px;
  font-size: 21px;
  font-weight: bold;
  line-height: 31.5px;
}
#ArticleNumber {
  color: #999999;
  font-weight: normal;
  font-size: 11px;
}
#ArticleMeta, #ArticleMeta a {
  color: #555555;
}
#ArticleContent {
  clear: both;
  margin-left: 2.127659574%;
}
#BoardList {
  width: 100%;
  margin: 18px 0px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #333333;
}
#BoardList a {
  color: #333333;
}
#BoardList th, #BoardList td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
  height: auto;
}
#BoardList th {
  font-weight: bold;
  vertical-align: bottom;
}
#BoardList td {
  vertical-align: top;
}
#BoardList tbody tr:nth-child(odd) td, #BoardList tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
#BoardList thead:first-child {
  background: transparent !important;
}
#BoardList thead:first-child tr th, #BoardList thead:first-child tr td {
  border-top: 0;
}
#BoardList th + th,
#BoardList td + td,
#BoardList th + td,
#BoardList td + th {
  border-left: 1px solid #ddd;
}
#BoardList thead:first-child tr:first-child th, #BoardList tbody:first-child tr:first-child th, #BoardList tbody:first-child tr:first-child td {
  border-top: 0;
}
#BoardList thead:first-child tr:first-child th:first-child, #BoardList tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
#BoardList thead:first-child tr:first-child th:last-child, #BoardList tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
#BoardList thead:last-child tr:last-child th:first-child, #BoardList tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
#BoardList thead:last-child tr:last-child th:last-child, #BoardList tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
#BoardList .ListNumber,
#BoardList .ListWriter,
#BoardList .ListDate,
#BoardList .ListView,
#BoardList .ListRecommend {
  text-align: center;
}
.TagList {
  margin-top: 20px;
}
.TagList li:first-child {
  color: #ffffff;
  float: none;
  display: inline-block;
  margin: 3px 1px;
  padding: 1px 3px 2px;
  background-color: #f89406;
  line-height: 13px;
  font-size: 9.75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 3px 2px 3px;
}
.TagList li:first-child::after {
  content: 'Tag';
}
.TagList li:first-child img {
  display: none;
}
.TagList li:last-child {
  color: #ffffff;
  float: none;
  display: inline-block;
  margin: 3px 1px;
  padding: 1px 3px 2px;
  background-color: #3a87ad;
  line-height: 13px;
  font-size: 9.75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 3px 2px 3px;
}
.TagList li:last-child a {
  padding-right: 1px;
}
.TagList li:last-child a::after {
  content: '태그추가';
}
.TagList li:last-child img {
  display: none;
}
.TagList li {
  color: #ffffff;
  float: none;
  display: inline-block;
  margin: 3px 1px;
  padding: 1px 3px 2px;
  background-color: #7b7b7b;
  line-height: 13px;
  font-size: 9.75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 2px 2px 5px;
}
.TagList li a {
  font-size: 9.75px;
  line-height: 13px;
  color: #ffffff;
}
.TagList li .RemoveTag {
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
  color: #ffffff;
  padding-right: 1px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.TagList li .RemoveTag::after {
  content: 'x';
  cursor: pointer;
}
.TagList li .RemoveTag:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
}
.TagList li .RemoveTag img {
  display: none;
}
#ArticleFooter {
  height: 40px;
  min-height: 20px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#ArticleFooter blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
#ArticleFooter #ArticleFooterImage {
  display: none;
}
#ArticleFooter #ArticleFooterTab {
  margin-top: 11px;
}
#ArticleFooter #ArticleFunction {
  position: static;
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0);
}
#ArticleFooter #ArticleFunction a {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
#ArticleFooter #ArticleFunction a:first-child {
  *margin-left: 0;
}
#ArticleFooter #ArticleFunction a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#ArticleFooter #ArticleFunction a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#ArticleFooter #ArticleFunction a.active, #ArticleFooter #ArticleFunction a:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
#ArticleFooter #ArticleFunction a.disabled, #ArticleFooter #ArticleFunction a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#ArticleFooter #ArticleFunction a.large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#ArticleFooter #ArticleFunction a.large .icon {
  margin-top: 1px;
}
#ArticleFooter #ArticleFunction a.small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
#ArticleFooter #ArticleFunction a.small .icon {
  margin-top: -1px;
}
ul.Comment {
  margin: 0px;
}
ul.Comment li {
  padding: 5px;
  border: 1px solid #e1e1e1 !important;
  margin: 5px 0px;
}
ul.Comment li .CommentHeader {
  float: none;
  width: auto;
  border-bottom: 1px solid #EAEAE6;
  padding-bottom: 3px;
  display: block;
  margin: 0px 5px;
}
ul.Comment li .CommentHeader .Date {
  font-size: 10px;
  color: #808080;
}
ul.Comment li .CommentContent {
  margin-top: 8px;
  margin-bottom: 5px;
}
ul.Comment > li {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
ul.Comment > li .CommentReply {
  display: inline-block;
}
ul.Comment > li .CommentReply::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -120px -72px;
  vertical-align: -20%;
  margin-right: 5px;
}
ul.Comment > li .CommentReply img {
  display: none;
}
ul.Comment > li.RecommendedComment {
  background: rgba(4, 156, 219, 0.1) !important;
  border: 1px solid rgba(3, 120, 169, 0.2) !important;
}
ul.Comment > li.RecommendedComment > .CommentHeader {
  border-bottom: 1px solid rgba(3, 120, 169, 0.2);
  padding-left: 0px;
}
ul.Comment > li.RecommendedComment > div {
  background: transparent !important;
}
ul.Comment .CommentReplys {
  margin: 10px;
}
ul.Comment .CommentReplys li {
  margin: 0px;
  margin-bottom: -1px;
  background: #fbfbfb;
}
ul.Comment .CommentReplys li .CommentHeader {
  padding: 0px;
  background: none;
}
ul.Comment .CommentReplys li:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
ul.Comment .CommentReplys li:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
ul.Comment .CommentReplys li.RecommendedComment {
  background: rgba(4, 156, 219, 0.06) !important;
  border: 1px solid rgba(3, 120, 169, 0.2) !important;
}
ul.Comment .CommentReplys li.RecommendedComment > .CommentHeader {
  border-bottom: 1px solid rgba(3, 120, 169, 0.2);
}
ul.Comment .CommentReplys li.RecommendedComment > div {
  background: transparent !important;
}
.CommentRecommendation {
  margin-right: 10px;
}
#CommentRecommendList {
  background: transparent;
  margin: 5px 0px;
  padding: 0px;
  border: none;
}
#CommentRecommendList ul {
  margin: 0px;
}
#CommentRecommendList li {
  background: rgba(4, 156, 219, 0.2);
  padding: 5px;
  border: 1px solid rgba(3, 120, 169, 0.2) !important;
  margin: 5px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#CommentRecommendList li .CommentHeader {
  padding: 0px;
  background: none;
  float: none;
  width: auto;
  border-bottom: 1px solid rgba(3, 120, 169, 0.2);
  padding-bottom: 3px;
  display: block;
  margin: 0px 5px;
}
#CommentRecommendList li .CommentHeader .User::before {
  color: #ffffff;
  float: none;
  display: inline-block;
  margin: 3px 1px;
  padding: 1px 3px 2px;
  background-color: #f89406;
  line-height: 13px;
  font-size: 9.75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: '베플';
  margin-right: 5px;
}
#CommentWriteWrapper {
  min-height: 20px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}
#CommentWriteWrapper blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
#CommentWriteWrapper .RefreshComment {
  float: none;
  display: inline-block;
}
#CommentWriteWrapper .RefreshComment a {
  padding-left: 1px;
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
#CommentWriteWrapper .RefreshComment a:first-child {
  *margin-left: 0;
}
#CommentWriteWrapper .RefreshComment a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#CommentWriteWrapper .RefreshComment a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#CommentWriteWrapper .RefreshComment a.active, #CommentWriteWrapper .RefreshComment a:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
#CommentWriteWrapper .RefreshComment a.disabled, #CommentWriteWrapper .RefreshComment a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#CommentWriteWrapper .RefreshComment a.large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#CommentWriteWrapper .RefreshComment a.large .icon {
  margin-top: 1px;
}
#CommentWriteWrapper .RefreshComment a.small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
#CommentWriteWrapper .RefreshComment a.small .icon {
  margin-top: -1px;
}
#CommentWriteWrapper .RefreshComment a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -240px -24px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CommentWriteWrapper .RefreshComment a::after {
  content: 'Refresh';
}
#CommentWriteWrapper .RefreshComment a img {
  display: none;
}
#CommentWriteWrapper .CommentAddForm {
  display: inline-block;
}
#CommentWriteWrapper .CommentAddForm .TextBox {
  background-color: #ffffff;
  margin-bottom: 0px;
  width: 280px;
}
#ArticleController {
  padding: 0px 10px;
  background: transparent;
  color: rgba(255, 255, 255, 0);
}
#ArticleController a {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
#ArticleController a:first-child {
  *margin-left: 0;
}
#ArticleController a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#ArticleController a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#ArticleController a.active, #ArticleController a:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
#ArticleController a.disabled, #ArticleController a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#ArticleController a.large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#ArticleController a.large .icon {
  margin-top: 1px;
}
#ArticleController a.small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
#ArticleController a.small .icon {
  margin-top: -1px;
}
#BoardListButtonWrapper a {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
#BoardListButtonWrapper a:first-child {
  *margin-left: 0;
}
#BoardListButtonWrapper a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#BoardListButtonWrapper a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#BoardListButtonWrapper a.active, #BoardListButtonWrapper a:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}
#BoardListButtonWrapper a.disabled, #BoardListButtonWrapper a[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#BoardListButtonWrapper a.large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#BoardListButtonWrapper a.large .icon {
  margin-top: 1px;
}
#BoardListButtonWrapper a.small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
#BoardListButtonWrapper a.small .icon {
  margin-top: -1px;
}
#CommonLeftMenu {
  list-style: none;
  margin: 0;
  border-bottom: 0;
}
#CafeMenuWrapper li {
  padding: 0px;
  margin: 0px;
  margin-left: 0px !important;
  margin-bottom: -1px;
  min-height: initial;
  list-style-image: none;
}
#CafeMenuWrapper li a {
  display: block;
  margin: 0px 5px;
  padding: 8px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #555555;
}
#CafeMenuWrapper li a:hover {
  color: #333333;
  border-color: #eeeeee #eeeeee #dddddd;
  background-color: #eeeeee;
}
#CafeMenuWrapper li img {
  display: none;
}
#CafeTitle {
  margin-bottom: 6px;
}
#CafeTitle a {
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 18px;
  color: #333333;
  text-transform: uppercase;
}
#CafeMenuWrapper .active > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #ba3c3b;
}
#CafeMenuWrapper {
  background-color: transparent;
  padding: 0px;
}
#CafeMenuList {
  background-color: transparent;
  padding: 0px;
}
#CafeMenuList ul {
  padding: 0px;
  margin: 0px;
}
#CafeMenuList li:first-child a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#CafeMenuList li:last-child a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
#CafeMenuList li.CafeMenuText span {
  display: block;
  margin: 0px 5px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #555555;
  vertical-align: initial;
  background: #fafafa;
}
#CafeMenuList li:first-child.CafeMenuText span {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#CafeMenuList li.CafeMenuNotice a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -288px 0px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuBoard a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -264px 0px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuAnonym a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -360px -48px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuLink a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -120px -72px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuImage a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -120px -48px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuProfile a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -168px 0px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuSurvey a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -408px 0px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuCalendar a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -48px -24px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuForum a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -264px -24px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuCafe a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -456px -96px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeMenuList li.CafeMenuData a::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url('http://klassmating-thefron.s3.amazonaws.com/snucse_bootstrap/glyphicons-halflings.png');
  background-position: -192px 0px;
  vertical-align: -20%;
  margin-right: 5px;
}
#CafeAdminWrapper ul {
  margin: 0px;
}
.Widget {
  margin: 15px 0;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -ms-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: linear-gradient(top, #ffffff, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.Widget .WidgetHeader {
  margin: 0px 10px;
  padding: 5px;
  border-bottom: 1px solid #f3f3f3;
  background: transparent;
}
